/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header {
    background-color: #001438;
    color: white;
    display: flex;
    align-items: center;
    padding: 30px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* Logo */
img.logo {
    width: 150px;
    margin-right: 20px;
}

/* Navigation */
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Main Content */
main {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 80px; /* Adjusted margin to prevent overlap with header */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Form Container */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Adjusted width */
    position: absolute; /* Make container positioned absolutely */
    top: 50%; /* Vertically center it */
    left: 50%; /* Horizontally center it */
    transform: translate(-50%, -50%); /* Offset by half of its own width/height */
    text-align: center;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

/* Labels */
form label {
    font-size: 16px;
    margin-bottom: 8px;
    width: 100%;
    text-align: left;
}

/* Input Fields */
form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

form input:focus, form select:focus, form textarea:focus {
    border-color: #001438;
}

/* Checkbox */
form .caseStatus {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 25px; /* Space between checkbox and other form elements */
}

/* Submit Button */
form button {
    background-color: #001438;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

form button:hover {
    background-color: #00275d;
}

/* Footer */
footer {
    background-color: #001438;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }

    .container {
        width: 90%;
    }
}
