* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #003064;
    color: white;
    display: flex;
    align-items: center;
    padding: 50px;
}
img.logo {
    width: 300px;
    margin-right: 20px;
}
header h1 {
    margin: 0;
    flex-grow: 1;
}
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
nav ul.left-menu {
    flex-grow: 1;
}
nav ul.right-menu {
    justify-content: flex-end;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin-left: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li select {
    margin-left: 10px;
}

main {
    background-color: #ffffff;
    padding: 20px;
    margin: 50px auto 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 170px); 
    max-width: 800px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px; 
}

form h2 {
    margin-bottom: 50px;
    text-align: center; 
    font-size: 24px;
    color: #003064;
}

form label {
    font-size: 18px;
    margin-bottom: 10px;
    width: 100%;
}

form input, form select, form button {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px; 
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

form input:focus, form select:focus, form textarea:focus {
    border-color: #003064;
}

form button {
    background-color: #003064;
    color: white;
    padding: 15px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

form button:hover {
    background-color: #00275d;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
}

.links .psw a {
    text-decoration: none;
    color: #003064; 
}

footer {
    background-color: #003064;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }

    main {
        width: 90%;
        margin: 120px auto 20px; 
    }

    form {
        padding: 15px;
    }
}