* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

header {
    background-color: #003064;
    color: white;
    display: flex;
    align-items: center;
    padding: 50px;
}

img.logo {
    width: 300px;
    margin-right: 20px;
}
header h1 {
    margin: 0;
    flex-grow: 1;
}
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
nav ul.left-menu {
    flex-grow: 1;
}
nav ul.right-menu {
    justify-content: flex-end;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f39200;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin-left: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li select {
    margin-left: 10px;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    margin-bottom: 90px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
}
form label, form select, form input, form button {
    margin-bottom: 10px;
}
form input, form select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}
form input:focus, form select:focus {
    border-color: #003064;
}
form button {
    background-color: #003064;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form button:hover {
    background-color: #00275d;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}
footer {
    background-color: #003064;
    color: white;
    text-align: center;
    padding: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 5px;
}

.pagination a, .pagination span {
    color: #333;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.pagination a:hover {
    background-color: #f1f1f1;
}

.pagination .active {
    background-color: #003064;
    color: white;
    border: 1px solid #003064;
}

.pagination .disabled {
    color: #aaa;
    cursor: not-allowed;
}

.dropdown2 {
    position: relative;
    display: inline-block;
}
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    max-height: 300px;
    overflow-y: auto;
}
.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content2 a:hover {
    background-color: #ddd;
}
.show {
    display: block;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: none;
}